.addObjective {
  display: block;
}

.addObjectiveHeader {
  font: Bold 30px/40px Segoe UI;
  color: #ffffff;
  background: #4548b0 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.propertyContainer {
  display: flex;
  padding: 25px 50px 25px 50px;
  justify-content: space-between;
}

.propertyLabel {
  width: 76px;
  height: 33px;
  text-align: left;
  font: Bold 25px/33px Segoe UI;
  padding-right: 50px;
  flex: 0 0 auto;
}

.propertyInput {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #3917ec;
  font-size: 20px;
  height: inherit;
  height: 33px;
}

.inputContainer {
  width: 100%;
  flex: 1 1 auto;
  height: 33px;
  display: flex;
}

.ownerInput {
  height: 33px;
  width: 50%;
  margin-right: 25px;
}
.ownerDatepicker {
  width: 50%;
  margin-right: 25px;
}

.inputContainer div input {
  width: 100%;
}
